/* ==================================== Root and All ==================================== */

:root {
    --lavender-1: #fffaff;
    --lavender-2: #a9a1b6;
    --lavender-3: #7f788b;
    --lavender-4: #352f40;
    --lavender-5: #1f1a2a;

    --lavender-hover: #c4bcd1;
    --lavender-edit: #99aeec;
    --lavender-delete: #e5a3a3;
    --lavender-bg-hover: #2a243a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* ==================================== Header, Main, and Footer  ==================================== */

header {
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
    background-color: var(--lavender-4);
    color: var(--lavender-delete);
    letter-spacing: .2rem;
    text-shadow: 1px 1px 1px var(--lavender-2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid var(--lavender-2);
}

main {
    display: flex;
    flex: 1;
    background-color: var(--lavender-1);
    overflow: hidden;
}

footer {
    padding: 10px;
    background-color: var(--lavender-4);
    color: var(--lavender-2);
    border-top: 2px solid var(--lavender-2);

}

/* ==================================== Projects ==================================== */


/* -------------- Add Project Button -------------- */

#add-project-btn {
    display: block;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: transparent;
    background-color: var(--lavender-3);
    color: var(--lavender-1);
    font-weight: 600;
    font-size: 1.1rem;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}

#add-project-btn:hover {
    background-color: var(--lavender-4);
}

#add-project-btn:active {
    background-color: var(--lavender-5);
}

/* --------------------- Aside --------------------- */

aside {
    background-color: var(--lavender-5);
    padding: 10px;
    width: 40vw;
    max-width: 300px;
    border-right: 2px solid var(--lavender-2);
    overflow-y: auto;
    overflow-x: hidden;

}

/* -------------- Project Links -------------- */

.projects {
    margin-top: 30px;
}

.default {
    padding: 10px;
    padding-left: 14px;
    padding-right: 50px;
    color: var(--lavender-1);
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.default:hover {
    background-color: var(--lavender-bg-hover);
    color: var(--lavender-hover);
}

.other-projects {
    margin-top: 10px;
    color: var(--lavender-2);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.other-projects > a {
    color: var(--lavender-2);
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr auto auto;
    padding: 10px;
    border-radius: 6px;
    transition: 0.2s ease;
}

.other-projects > a:hover {
    background-color: var(--lavender-bg-hover);
    color: var(--lavender-hover);
}

.other-projects > a > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 8px;
    border-radius: 4px;
    transition: 0.2s ease;
    cursor: pointer;
}

/* project name */
.other-projects > a > span:first-child {
    text-align: left;
    padding-left: 4px;
}

/* icons  */
.other-projects > a > span:nth-child(2),
.other-projects > a > span:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Edit icon */
.other-projects > a > span:nth-child(2):hover {
    background-color: var(--lavender-edit);
    color: var(--lavender-1);
}

/* Delete icon */
.other-projects > a > span:nth-child(3):hover {
    background-color: var(--lavender-delete);
    color: var(--lavender-1);
}

/* ==================================== Tasks ==================================== */
 
/* --------------------- Center and Top --------------------- */
.center-and-bottom {
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
    width: 100%;
}

.center-project-name {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--lavender-5);
}

.center-project-description {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--lavender-3);
}

.top {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* -------------- Add Task Button -------------- */

#add-task-btn {
    display: block;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: transparent;
    background-color: var(--lavender-4);
    color: var(--lavender-1);
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}

#add-task-btn:hover {
    background-color: var(--lavender-3);
}

#add-task-btn:active {
    background-color: var(--lavender-2);
}

/* ==================================== Task Card ==================================== */

.tasks-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid var(--lavender-3);
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
}

.top-row {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
    color: var(--lavender-4);
}

.bottom-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto auto;
    color: var(--lavender-3);
    font-weight: 400;
}

.edit-and-remove {
    display: flex;
    align-items: center;
    justify-content: flex-start
}


@media only screen and (max-width: 600px){
    .bottom-row {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-self: left;
    }
}